<main>
    <table class="table">
        <thead>
            <tr class="table__row">
                <th>Name</th>
                <th>Code</th>
                <th>Packs</th>
            </tr>
        </thead>
        <tbody>
            <% @items.each do |item| %>
                <tr class="table__row">
                    <td><%= item.name %></td>
                    <td><%= item.code %></td>
                    <td><%= item.pack_number %> @ <%= number_to_currency(item.pack_price / 100.0) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= form_with(url: ".", method: "post", class: "form") do |form| %>
        <div class="form__group">
            <%= form.label :items, "Choose an item:" %>
            <%= form.select :items, @items.distinct.pluck(:name, :code), {}, { class: "form__input" } %>
        </div>
        <div class="form__group">
            <%= form.label :number, "Number of items:" %>
            <%= form.number_field :number, class: "form__input", value: 0, min: 0 %>
        </div>
        <%= form.submit "Submit", class: "form__btn" %>
    <% end %>


    <div class="output" id="output"></div>

    <%= javascript_pack_tag 'main' %>
</main>